article 
{ 
   font: 111 14vw/ 1 cursive; 
}
body
{
  font : 6vw/ 1 cursive;
  bgcolor : white;
  background: linear-gradient(to bottom right,cyan, skyblue, white, skyblue, blue);
}
.base 
{ 
   color: #ff7a18; 
} 
.grey 
{ 
   margin: -.56em 0 0 .5em;
   color: hsla(0, 0%, 50%, .25);
}
